
body {
	background-color: #fff;
	font-family: 'OpenSans';
	margin: 0;
}
img {
	border: 0;
}
#contents:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}

/*------------------------------ HEADER ------------------------------*/
#header {
	background-color: #44280D;
	border-bottom: 1px solid #e6e6e6;
	padding: 27px 0;
}
#header > nav, .footer > div ,#SlideShow > div{
	width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}
/** Logo **/
#header .logo {
	float: left;
	margin-right: 40px;
}
#header .logo a {
	background: url(../images/logo.png) no-repeat center top;
	background-size: 140px,100px;
	color: #000;
	display: block;
	height: 120px;
	width: 110px;
	padding-top: 68px;
	padding-right: 20px;
	text-decoration: none;
	font-size: 25px ;

}

.logo2 a {
	background: url(../images/logo2.png) no-repeat center top;
	background-size: 240px,100px;
	color: #000;
	display: block;
	height: 200px;
	width: 250px;
	padding-top: 68px;
	padding-right: 20px;


}
#header p{
	font-size: 50px;
	padding-top: 20px;
	color:  #000; ;
}
/** Navigation **/
#navigation {
	display: inline-block;
	list-style: none;
	line-height: 100px;
	margin: 0;
	padding: 0;

}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 150px;
	text-align: center;
}
#navigation li a {
	color: #818181;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
}
#navigation li a:hover {
	color: #000;
}
#navigation li.active a {
	color: #FFF;
}
/** ---------------------Trending ------------------------------------- **/
#adbox {

	height: 380px;
	padding: 60px 0;
}
#adbox > div {
	width: 800px;
	margin: 0 auto;
	padding: 0 80px;
}
#adbox > div iframe {
	float: right;
	margin-left: 60px;
	padding-top: 80px;
}
#adbox h1
{
	padding-bottom: 20px;
	color: #44280D;
	font-size: 60px;
	line-height: 60px;
	margin: 0;
	text-transform: uppercase;
}

#adbox h2 {
	color: #2c2c2c;
	font-size: 30px;
	margin: 0;
	line-height: 36px;
	text-transform: none;
}
#adbox p {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}
#adbox p span {
	display: block;
	font-size: 12px;
	width: 360px;
	padding: 24px 0;
	text-align: center;
}
#adbox p span b {
	font-weight: normal;
	display: block;
	width: 256px;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	min-height: 510px;
	width: 880px;
	margin: 0 auto;
	padding: 54px 40px;
}
h1 {
	color: #44280D;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}
p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}
p a {
	color: #585858;
}
#tagline h1 {
	margin-left: 20px;
}

#leftDiv{
	float: left;
	width: 400px;
	margin-top: 0px;
	margin-right: 20px;
	margin-left: -1000px;



}
#rightDiv{
	float: left;
	width: 400px;
	margin-top: 0px;

	margin-right: -1000px;


}
#contents .features {
	width: 810px;
	margin: 0 auto;
}
.features > div {
	display: inline-block;
	margin: 0 0 30px;
}
.features > div img {
	float: left;
	margin-right: 20px;
	margin-top: 36px;
}

.master
{
	padding-bottom: 30px;
	border-top: 1px solid #d5d5d5;
	padding-top: 10px;
}

#edu1{
	opacity: 0;
	transition: opacity 1.0s linear 0s;
}
.bachelors
{
	border-top: 1px solid #d5d5d5;
	padding-top: 10px;
}

#edu2{
	opacity: 0;
	transition: opacity 1.0s linear 0s;
}

.list{

	margin-left: 300px;
}
.list2{

	margin-left: 100px;
	color: #585858;
}
#fs:hover
{
	background-image: url(../images/fresnostate1.png);
}

.date {
	float: left;
	height: 78px;
	width: 73px;
	margin-right: 20px;
	border: 1px solid #d5d5d5;
	background-color:#44280D ;
	text-align: center;

}
.date p {
	margin: 12px 0 0;
	color : #fff;
}
.date p span {
	display: block;
	font-size: 30px;
	margin-bottom: 6px;

}

.certificate {
	float: left;
	height: 78px;
	width: 73px;
	margin-right: 20px;
	border: 1px solid #d5d5d5;
	background-color:#44280D ;
	text-align: center;

}
.certificate p {
	margin: 2px 2px 2px;
	color : #fff;
}
.certificate p span {
	display: block;
	font-size: 30px;
	margin-bottom: 6px;

}
.author {
	color: #585858;
	display: block;
	font-size: 12px;
}
.more {
	background-color:#44280D;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}


.more:hover, .message input[type='submit']:hover {
	background-color: #727272;
	color: #000;
}
/**-------------------------------------------- main------------------------------------- **/
.main {
	float: left;
	min-height: 100px;
	width: 620px;
	padding-right: 24px;
}
.main h1, .sidebar h1 {
	margin: 0 0 12px;
	position: relative;
	top: -18px;
}
.main h2 span {
	display: block;
	font-size: 12px;
}
/** sidebar **/
.sidebar {
	float: left;
	min-height: 848px;
	width: 216px;
	margin-left: 20px;
}
.sidebar ul, .news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news li {
	border-top: 1px solid #d5d5d5;
	padding: 24px 30px 0 100px;
	position: relative;

}
.news li .date,.certificate{
	float: none;
	position: absolute;
	left: 0;
	top: 30px;



}
.news li > p span, .post > span {
	display: block;
	text-align: right;
}
.posts {
	border-top: 1px solid #d5d5d5;
}
.posts li {
	border-bottom: 1px solid #d5d5d5;
	padding: 24px 10px 0;

}
.posts li p {
	font-size: 14px;
}
.posts li .title {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 12px;
}
.posts li .title a {
	color: #2c2c2c;
	font-size: 16px;
	text-decoration: none;
}
.post {
	width: 785px;
	margin: 0 auto;
}
.post h1 {
	padding-top: 12px;
}
#prog {
	width: 740px;
	margin: 0 auto;
}
#prog h1, .section h1 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 12px;
}
.section {
	float: left;
	width: 390px;
	margin-right: 50px;
}
.section h1 {
	margin-bottom: 18px;
}
.message input[type='text'], .message textarea  ,.message input[type ='email']{
	color: #aeaeae;
	font-size: 13px;
	height: 33px;
	line-height: 33px;
	width: 380px;
	border: 1px solid #d5d5d5;
	margin: 0 0 6px;
	padding: 0 4px;
}
.message textarea {
	height: 175px;
	overflow: auto;
	resize: none;
}


input[type='submit']
{
	background:#44280D;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	float: right;
	color: #d5d5d5;
	cursor: pointer;
	font: 15px/30px Arial, Helvetica, sans-serif;
	height: 40px;
	border: 0;
	margin: 0;
	padding: 0 10px;
}
input[type='submit']:hover {
	background-color: #727272;
	color: #000;
}
.contact {
	background-color: #f8f8f8;
	width: 270px;
	padding: 124px 60px;
	text-align: center;
}
.contact p span {
	color: #2c2c2c;
	display: block;
	font-size: 30px;
	line-height: 36px;
	padding: 18px 0;
}
.comment{
	color: #aeaeae;
	font-size: 13px;
	line-height: 33px;
	width: 580px;
	border: 1px solid #d5d5d5;
	margin: 0 0 6px;
	padding: 0 4px;
	height: 75px;
	overflow: auto;
	resize: none;
}
/*------------------------------ SlideShow ------------------------------*/

#SlideShow {
	background-color: #FFFFFF;
	padding: 30px 0;

}

#SlideShow div
{
	width: 600px;
	text-align: center;


}
.show1
{

	font-size: 30px;
	line-height: 30px;
	padding-left: 30px;
	color:#44280D;


}
.show2
{

	font-size: 50px;
	line-height: 30px;
	padding-left: 30px;
	color:#000;

}

#show1,#show2,#show3,#show4,#show5,#show6,#show7
{
	opacity: 0;
	transition: opacity 1.0s linear 0s;
}

/*------------------------------ FOOTER ------------------------------*/
.footer {
	background-color: #44280D;
	border-top: 1px solid #d8d8d8;
	padding: 30px 0;



}
.footer p {
	font-size: 25px;
	line-height: 30px;
	padding-left: 10px;
	color:#000;
}

#foot1
{
	width: 0px;
}




.connect {
	float: right;
	display: inline-block;
	margin-right: 30px;

}
.connect a {

	display: inline-block;
	height: 50px;
	width: 50px;
	margin: 0 10px;

}
.connect a.linkedin{

	background: url(../images/linkedin-m.png) no-repeat;
}
.connect a.linkedin:hover{

	background: url(../images/linkedin.png) no-repeat;
}

.connect a.facebook {
	background: url(../images/facebook-m.png) no-repeat;

}
.connect a.facebook:hover {
	background: url(../images/facebook.png) no-repeat;

}
.connect a.github{

	background: url(../images/github-m.png) no-repeat;
}
.connect a.github:hover {

	background: url(../images/github.png) no-repeat;
}
.connect a.upgo{

	background: url(../images/up2.png) no-repeat;
}
.connect a.upgo:hover {

	background: url(../images/up1.png) no-repeat;
}




